In [1]:
import pandas as pd

Loading International Soccer results from csv file into a data frame

In [36]:
df = pd.read_csv('results.csv')
df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

Filtering data to include results after the 2014 World Cup and before the 2018 World Cup

In [38]:
before_results = df[(df['date'] >= '2014-07-14') & (df['date'] <= '2018-06-12')]
before_results.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
36145,2014-07-14,Botswana,Lesotho,2,0,Friendly,Gaborone,Botswana,False
36146,2014-07-14,Qatar,Indonesia,2,2,Friendly,al-Wakrah,Qatar,False
36147,2014-07-15,Kenya,Burundi,0,0,Friendly,Nairobi,Kenya,False
36148,2014-07-15,Uganda,Malawi,0,0,Friendly,Kampala,Uganda,False
36149,2014-07-19,Botswana,Guinea-Bissau,2,0,African Cup of Nations qualification,Gaborone,Botswana,False

Filtering data to only include the 32 teams that played in the 2018 World Cup

In [40]:
wc_teams = ["Argentina", "Australia", "Belgium", "Brazil", "Colombia", "Costa Rica", "Croatia", "Denmark", "Egypt", "England", "France", "Germany", "Iceland", "Iran", "Japan", "Mexico", "Morocco", "Nigeria", "Panama", "Peru", "Poland", "Portugal", "Russia", "Saudi Arabia", "Senegal", "Serbia", "South Korea", "Spain", "Sweden", "Switzerland", "Tunisia", "Uruguay"]
wc_team_results = before_results[(before_results['home_team'].isin(wc_teams)) | (before_results['away_team'].isin(wc_teams))]
wc_team_results.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
36175,2014-08-20,Panama,Cuba,4,0,Friendly,Panama City,Panama,False
36183,2014-08-30,Egypt,Kenya,1,0,Friendly,Aswan,Egypt,False
36188,2014-09-03,Costa Rica,Nicaragua,3,0,UNCAF Cup,Washington,United States,True
36190,2014-09-03,Denmark,Turkey,1,2,Friendly,Odense,Denmark,False
36191,2014-09-03,England,Norway,1,0,Friendly,London,England,False